
.banner {
    background: rgb(65, 63, 63);
    border-bottom: 3px solid #7a3b2e;
    position: relative;
    padding: 5px 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-bottom: 7px;
}

li {
    float: right;
    border-right: 1px solid #7a3b2e;
}

li a:hover {
    background-color: #a79e84;
    color: #454140;
}

li a {
    display: block;
    color: #777777;
    text-decoration: none;
    padding: 18px 16px;
    text-align: center;
}

    
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25pt;
    background: #a79e84;
    color: #45140;
    width: 200px;
    text-align: center;
    padding: 18px 0;
    position: absolute;
    left: 150px;
    top: -1px;
    
}

body {
    background-image: url("../images/dark-honeycomb.png");
}

img {
    /* float: left; */
    object-fit: contain;
    
    
    
}


.wrapper {
    background: #a79e84;
    width: 960px; 
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
    padding: 5px;
}

#content {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12pt;
    color:  rgb(65, 63, 63);
    line-height: 28px;
}

h2 {
    font-size: 20pt;
    border-bottom: 3px solid #7a3b2e;

}